<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Payment</title>

<!-- Custom Css Link Start-->
	<link href="/css/custom.css" rel="stylesheet">
<!-- Custom Css Link End-->

<!-- Fonts Style Links Start-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- Fonts Style Links End-->
</head>

<body>
<h1><%= list[0][0] %></h1>
<table>
	<tr>
		<th style="width: 200px;">Name</th>
		<th>Category</th>
	</tr>
<% for (var i =0; i <list_length;  i++ ) { %>



	<tr>
		<td><%= list[i][1] %></td>
		<td><%= list[i][2] %></td>
	</tr>
	<% } %>

</table>

<div class="flex-end" style="margin-top: 20px">
	<div class="price-box flex">
		<h2>Total Amount:</h2>
 

		<h2><span><%= tottal_amount  %>
    </span></h2>
	</div>
</div>
<div class="flex-end">
	<div class="price-box flex">
		<h2>Paid:</h2>
		<h2><span><%= amount_paid %></span></h2>
	</div>
</div>
<div class="flex-end">
	<div class="price-box flex">
		<h2>Due:</h2>
		<h2><span><%= amount_due %></span></h2>
	</div>
</div>
<div class="flex-end">
	<div class="price-box flex">
	<h3>Status:</h3>
    <% if (status == 'PAID') { %>
		<h2><span class="green"><%= status %></span></h2>
		<%} else { %>
			<h2><span class="red"><%= status %></span></h2>
			<% } %>
	</div>
</div>

</body>
</html>
        
       
